.contact {
    display: flex;
}

.contact-form {
    border: 4px solid whitesmoke;
    width: 40%;
    height: 800px;
}

.input-detail {
    padding-left: 25px;
    padding-right: 45px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}

button {
    background-color: #01d28e;
    height: 40px;
    width: 130px;
    border-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

.user-message input {
    padding-bottom: 90px;
}

.message {
    color: red;
}

.form {
    background-color: #01d28e;
    color: white;
    border: 1px solid white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
    height: 650px;
}

.form-detail {
    padding-top: 20px;
    padding-left: 45px;
}

.icon-item li i {
    border: 1px solid white;
    border-radius: 90%;
    padding: 10px 10px 10px 10px;
}

.icon-item li {
    display: flex;
    padding-top: 25px;
}

.icon-item li span {
    flex: 1;
}

li {
    padding-bottom: 25px;
}

i {
    margin-right: 15PX;
}

a {
    text-decoration: none;
    color: white;
}

.abc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.abc input {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .contact {
        display: block;
    }
    .form {
        width: 100%;
        padding-left: 0;
    }
}